In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
def get_article_details(i):
  res = requests.get(i)
  content = res.text
  soup = BeautifulSoup(content,'html.parser')
  title = soup.find('h1', class_='article-heading')
  author= soup.find('p',class_='dna-home',id='dna-home')
  date= soup.find('p',class_='dna-update')
  content = soup.find('div',class_='article-description')

  title_text = title.text.strip() if title else None
  author_text = author.text.strip() if author else None
  date_text = date.text.strip() if date else None
  if content:
      content_text = content.text.strip()
  else:
      content_text = " "
  return {
      'Publish Date': [date_text],
      'URL': [i],
      'Title': [title_text],
      'Article Text': [content_text],
      'Source': ['dnaindia'],
      'Category': ['Business News']
      }

In [ ]:
url = [
    "https://www.dnaindia.com/business/report-meet-woman-who-was-rejected-73-times-built-2-companies-worth-rs-52000-crore-with-her-husband-they-are-india-3096028",
    "https://www.dnaindia.com/business/report-meet-woman-meher-pudumjee-who-leads-rs-63307-crore-company-daughter-of-billionaire-anu-aga-thermax-3096011",
    "https://www.dnaindia.com/business/report-meet-man-an-indian-who-left-high-paying-job-at-google-then-became-ceo-of-rs-399680-crore-company-he-is-3095996",
    "https://www.dnaindia.com/business/report-ratan-tata-s-company-tcs-earns-rs-38000-crore-in-5-days-becomes-biggest-biggest-gainer-among-top-10-firms-3095992",
    "https://www.dnaindia.com/business/report-meet-lesser-known-sister-of-mukesh-ambani-anil-ambani-lost-her-husband-to-cancer-now-runs-company-worth-3095978",
    "https://www.dnaindia.com/business/report-meet-man-college-dropout-who-is-already-worth-rs-1200-crore-at-age-22-now-eyes-rs-25-lakh-crore-revenue-in-3095972",
    "https://www.dnaindia.com/business/report-meet-man-an-iit-graduate-who-got-rejected-by-75-investors-then-built-rs-6700-crore-business-he-is-from-3095965",
    "https://www.dnaindia.com/business/report-da-hike-big-news-these-13-allowances-of-central-govt-employees-to-increase-by-3095892",
    "https://www.dnaindia.com/business/report-meet-man-who-spent-nights-at-station-then-built-rs-100000-crore-business-his-net-worth-is-3095856",
    "https://www.dnaindia.com/business/report-mukesh-ambani-s-reliance-industries-starts-testing-of-country-s-first-smart-3095817",
    "https://www.dnaindia.com/business/report-meet-spiritual-guru-who-is-richer-than-sadhguru-baba-ramdev-sri-sri-ravi-shankar-swami-nithyananda-net-worth-3095786",
    "https://www.dnaindia.com/business/report-maharashtra-govt-to-settle-anil-ambani-company-debt-reliance-infra-shares-up-by-3095790",
    "https://www.dnaindia.com/business/report-the-rise-of-ubit-coin-in-the-decentralized-finance-arena-3095663",
    "https://www.dnaindia.com/business/report-mukesh-ambani-led-reliance-jio-tops-this-list-with-rs-25331-crore-agr-in-jan-mar-quarter-3095712",
    "https://www.dnaindia.com/business/report-zomato-relaunches-popular-service-with-minimum-rs-5000-order-value-to-deliver-3095716",
    "https://www.dnaindia.com/business/report-meet-sudha-murty-narayana-murthy-net-worth-is-rs-36000-crore-but-she-hasn-t-bought-new-saree-in-30-years-3095726",
    "https://www.dnaindia.com/business/report-raymond-s-real-estate-business-gets-thumbs-up-for-demerger-rs-195000000000-group-planning-to-3095724"
]

In [ ]:
new=[]
for i in url:
    scrape = get_article_details(i)
    df = pd.DataFrame(scrape)
    new.append(df)

# Concatenate the DataFrames in the list into a single DataFrame
df = pd.concat(new, ignore_index=True)

In [ ]:
df.head()

,Publish Date,URL,Title,Article Text,Source,Category
0,"Updated : Jul 07, 2024, 06:20 PM IST",https://www.dnaindia.com/business/report-meet-...,"Meet woman who was rejected 73 times, built 2 ...","Power couples are not just a thing in movies, ...",dnaindia,Business News
1,"Updated : Jul 07, 2024, 04:56 PM IST",https://www.dnaindia.com/business/report-meet-...,"Meet woman who leads Rs 63307 crore company, d...",Meher Pudumjee is a well-known name in the eng...,dnaindia,Business News
2,"Updated : Jul 07, 2024, 04:06 PM IST",https://www.dnaindia.com/business/report-meet-...,"Meet man, an Indian, who left high-paying job ...",We know many Indian CEOs of billion-dollar com...,dnaindia,Business News
3,"Updated : Jul 07, 2024, 03:40 PM IST",https://www.dnaindia.com/business/report-ratan...,Ratan Tata's company earns Rs 38000 crore in 5...,Ratan Tata's Tata Group is one of the most val...,dnaindia,Business News
4,"Updated : Jul 07, 2024, 02:01 PM IST",https://www.dnaindia.com/business/report-meet-...,Meet lesser-known sister of Mukesh Ambani and ...,"The Ambani family, the wealthiest family in In...",dnaindia,Business News

In [ ]:
df.to_csv('data.csv')